<h1> <%= @article.title%></h1>
<%unless @article.tags.empty?%>
    <p>Tags:
        <% @article.tags.each do |tag|%>
            <%= link_to  tag.name, tag %>
        <%end%>
    </p>
    <br>
<%end%>
<p><%= image_tag @article.image.url(:medium) if @article.image.exists? %></p>
<% @article.body.split("\n").reject(&:empty?).each do |p| %>
    <p><%= p %></p><br>
<% end %>
<%= link_to  "delete", @article, method: :delete, data: {confirm: "Are you sure you want to DELETE this?"} %>
<%= link_to  "edit", edit_article_path %>

<%= render partial:  "comments/form" %>
<h3>Comments (
    <%= @article.comments.size%>
)</h3>
<%= render partial:  "articles/comment", collection: @article.comments %>
<%= link_to  "Back", articles_path %>